{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="main">

    <div class="container-fluid p-0">
        <div class="row mx-2  pt-5 ">
            {% if products %}
            {% for i in products %}
            <div class="col-xl-3 col-auto  card_col   mb-2">
                <a href="{% url 'Products:detail' i.id %}" class="text-decoration-none text-dark">

                    <div class="card card_product h-100 border-0 rounded-0  ">
                        <img class="image_product " src="{{i.image.url}}" width="310px" alt="">
                        <div class="card-body px-1">
                            <h5 class="card-title">{{i.name}}</h5>
                            <p class="text-danger p-0 m-0">6% OFF</p>
                            <p class="card-text">{{i.detail}}</p>
                            <a href="{% url 'Products:detail' i.id %}" class="btn btn-dark rounded-0 w-100">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                    <path fill="yellow"
                                        d="M440-600v-120H320v-80h120v-120h80v120h120v80H520v120h-80ZM280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM40-800v-80h131l170 360h280l156-280h91L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68.5-39t-1.5-79l54-98-144-304H40Z" />
                                </svg>
                                From ₹{{i.price|add_commas}}
                            </a>
                        </div>
                    </div>
                </a>
            </div>
           
    {% endfor %}
    {% else %}
    <p>
        <h1 class="text-center pt-5 mt-5">No result found.</h1>
        </p>
    {% endif %}
        </div>
    </div>
    {% comment %} {% include './nav_footer/footer.html' %} {% endcomment %}
{% endblock %}
  
  
      